@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Inter", sans-serif;

  /* https://coolors.co/121212-f7f7f7-2e7d32-e98325-c62828 */

  /* Rouge CEJEF - Remplace la couleur 'red' de Tailwind */
  --color-red-50: #fde8e8;
  --color-red-100: #fbd1d1;
  --color-red-200: #f7a3a3;
  --color-red-300: #f37575;
  --color-red-400: #ef4747;
  --color-red-500: #d32f2f;
  --color-red-600: #b12726;
  --color-red-700: #8d1e1e;
  --color-red-800: #6a1717;
  --color-red-900: #470f0f;
  --color-red-950: #240808;

  /* Vert CEJEF - Remplace la couleur 'green' de Tailwind */
  --color-green-50: #e8f4ea;
  --color-green-100: #d1e9d5;
  --color-green-200: #a3d3ab;
  --color-green-300: #75bd81;
  --color-green-400: #47a757;
  --color-green-500: #388e3c;
  --color-green-600: #2e7633;
  --color-green-700: #256028;
  --color-green-800: #1c491e;
  --color-green-900: #133214;
  --color-green-950: #0a190a;

  /* Orange CEJEF - Remplace la couleur 'orange' de Tailwind */
  --color-orange-50: #fef5ec;
  --color-orange-100: #fdebd9;
  --color-orange-200: #fbd7b3;
  --color-orange-300: #f9c38d;
  --color-orange-400: #f7af67;
  --color-orange-500: #e98325;
  --color-orange-600: #ba691e;
  --color-orange-700: #8b4f16;
  --color-orange-800: #5c350f;
  --color-orange-900: #2e1a07;
  --color-orange-950: #170d04;

  /* Émeraude - Pour niveau 1 "Autorisé" */
  --color-emerald-50: #ecfdf5;
  --color-emerald-100: #d1fae5;
  --color-emerald-200: #a7f3d0;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-emerald-800: #065f46;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #022c22;

  /* Ambre - Pour niveau 2 "Attention" */
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-700: #b45309;
  --color-amber-800: #92400e;
  --color-amber-900: #78350f;
  --color-amber-950: #451a03;

  /* Rose - Pour niveau 3 "Interdit" */
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-300: #fda4af;
  --color-rose-400: #fb7185;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-rose-700: #be123c;
  --color-rose-800: #9f1239;
  --color-rose-900: #881337;
  --color-rose-950: #4c0519;
  --color-rose-900: #881337;
  --color-rose-950: #4c0519;

  /* Global Radius Configuration */
  --ui-radius: 0.5rem;
}